<div id="mainAboutDiv" class="animated fadeIn row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h1>RASTA - REST API Service Task Assessor</h1>
            <blockquote>
                <p>This website lets you:</p>
                <ol>
                    <li>
                        View availability statistics for the currently scheduled tests of stored web services.
                    </li>
                    <li>
                        Test various functions and the web services they rely on.
                    </li>
                    <li>
                        Upload new functions and services (ADMIN only).
                    </li>
                    <li>
                        And more...(ADMIN only).
                    </li>
                </ol>
                <small><cite title="Source Title">RASTA Team</cite></small>
            </blockquote>

            <p class="text-info title"><strong>Meet the Team</strong></p>
            <img class="guide" src="../../img/Team_Rasta.png" width=auto height=auto><br>

        </div>
    </div>
</div>