<div ng-show="validUser" class="ng-hide">
    <div id="topUploadRow" class="animated fadeIn row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add
                        a Service</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-container">
                        <button class="btn btn-primary" ng-click="addServiceInput()"><i class="fa fa-plus"
                                                                                        aria-hidden="true"></i></button>
                        <button ng-show="inputAdded" class="btn btn-success ng-hide animated"
                                ng-click="saveAddedServices()">Save Services
                        </button>
                    </div>
                    <table ng-show="inputAdded"
                           class="animated ng-hide fadeIn table table-bordered table-striped">
                        <thead>
                        <tr class="info">
                            <th>Name</th>
                            <th>Function</th>
                            <th>URL</th>
                            <th>Request Type</th>
                            <th>Response Type</th>
                            <th>Timeout (ms)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="serviceToAdd in servicesToAdd">
                            <td>
                                <div class="form-group">
                                    <input type="text" class="edit-service-form-control"
                                           ng-model="serviceToAdd.name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="edit-service-form-control"
                                           ng-model="serviceToAdd.function_name">
                                </div>
                            </td>
                            <td class="isBreakable">
                                <input type="text" class="edit-service-form-control"
                                       ng-model="serviceToAdd.url">
                            </td>
                            <td>
                                <select class="edit-service-form-control"
                                        ng-model="serviceToAdd.type"
                                        ng-options="reqTyp for reqTyp in reqTypes"></select>
                                <button type="button" ng-click="addReqBody(serviceToAdd)"
                                        class="post-btn btn btn-info" ng-if="serviceToAdd.type === 'POST'"
                                        data-toggle="modal" data-target="#reqBody">Body
                                </button>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="edit-service-form-control"
                                           ng-model="serviceToAdd.response_type">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="edit-service-form-control"
                                           ng-model="serviceToAdd.time_out">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="deleteServiceInput(serviceToAdd)"><i
                                        class="fa fa-minus" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Edit
                        Asynchronous
                        Webservices</h3>
                </div>
                <div class="child panel-body">
                    <div id="list-wrapper-async">
                        <h3>Browse Asynchronous Services</h3>
                        <hr class="testServHr">
                        <button style="margin-bottom:15px;" class="btn btn-info" ng-click="saveAsyncChanges()"><i class="fa fa-floppy-o"
                                                                                 aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Save
                            Changes
                        </button>
                        <div class="list" infinite-scroll='AsyncWebServices.nextPage()'
                             infinite-scroll-distance='2'
                             infinite-scroll-container="'#list-wrapper-async'" infinite-scroll-listen-for-event='refresh'>
                            <div class="list-table">
                                <table id="editAsyncServicesTable"
                                       class="animated fadeIn table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Delete</th>
                                        <th>Name</th>
                                        <th>URL</th>
                                        <th>Request
                                            Type
                                        </th>
                                        <th>Response
                                            Type
                                        </th>
                                        <th>Timeout (ms)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="service in AsyncWebServices.items">
                                        <td>
                                            <input class="form-control" type="checkbox" ng-model="service.delete"
                                                   ng-change="deleteAsync(service)"/>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="asyncSelected(service)" ng-model="service.name">
                                            </div>
                                        </td>
                                        <td class="isBreakable">
                                            <a href="{{service.job_creator.base_url}}">{{service.job_creator.base_url}}</a>
                                        </td>
                                        <td>
                                            <select class="edit-service-form-control"
                                                    ng-model="service.job_creator.request_type"
                                                    ng-options="reqTyp for reqTyp in asyncReqTypes"
                                                    ng-change="asyncSelected(service)"></select>
                                            <button type="button" ng-click="addReqBodyBrowsed(service)"
                                                    class="post-btn btn btn-info" ng-if="service.job_creator.request_type === 'POST'"
                                                    data-toggle="modal" data-target="#reqBody">Body
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="asyncSelected(service)" ng-model="service.job_creator.response_type">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="asyncSelected(service)" ng-model="service.time_out">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show='AsyncWebServices.busy' class="ng-hide">
                                <div id="block_1_1" class="barlittle"></div>
                                <div id="block_2_1" class="barlittle"></div>
                                <div id="block_3_1" class="barlittle"></div>
                                <div id="block_4_1" class="barlittle"></div>
                                <div id="block_5_1" class="barlittle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Edit
                        Synchronous
                        Webservices</h3>
                </div>
                <div class="child panel-body">
                    <span id="buttonOnSBDiv" class="row col-md-12">
                        <div ng-show="updatingServices === true" class="sideUpdateDiv ng-hide">
                            <div id="block_1" class="barlittle"></div>
                            <div id="block_2" class="barlittle"></div>
                            <div id="block_3" class="barlittle"></div>
                            <div id="block_4" class="barlittle"></div>
                            <div id="block_5" class="barlittle"></div>
                        </div>
                        <div ng-show="showUpdateMsg === true" class="sideUpdateDiv ng-hide">
                            <strong id="statusMsg">{{statusMsg}}</strong>
                        </div>
                        <form style='margin-top:10px' ng-submit="$event.preventDefault()">
                            <md-autocomplete
                                    ng-disabled="isDisabled"
                                    md-no-cache="noCache"
                                    md-selected-item="selectedItem"
                                    md-search-text="searchText"
                                    md-items="service in querySearch(searchText)"
                                    md-item-text="service.name"
                                    md-selected-item-change="selectedService(selectedItem)"
                                    md-min-length="0"
                                    placeholder="Search for service by name or URL"
                                    md-menu-class="autocomplete-custom-template">
                                <md-item-template>
                                    <span class="item-title">
                                        <span> <strong>{{service.name}}</strong> </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span class="item-metastat">
                                            {{service.url}}
                                        </span>
                                    </span>
                                </md-item-template>
                            </md-autocomplete>
                        </form>
                        <table ng-show="selectedItem"
                               class="animated ng-hide fadeIn table table-bordered table-striped">
                            <thead>
                                 <tr class="info">
                                            <th>Delete</th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'name'; sortServiceReverse = !sortServiceReverse">Name
                    <span ng-show="sortServiceType == 'name' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'name' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'function'; sortServiceReverse = !sortServiceReverse">Function
                    <span ng-show="sortServiceType == 'function' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'function' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'url'; sortServiceReverse = !sortServiceReverse">URL
                    <span ng-show="sortServiceType == 'url' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'url' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'requestType'; sortServiceReverse = !sortServiceReverse">Request
                                                Type
                    <span ng-show="sortServiceType == 'requestType' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'requestType' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'responseType'; sortServiceReverse = !sortServiceReverse">Response
                                                Type
                    <span ng-show="sortServiceType == 'responseType' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'responseType' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                     <th>Timeout (ms)</th>
                                     <th></th>
                                        </tr>
                            </thead>
                            <tbody>

                                        <tr>
                                        <td>
                                            <input class="form-control" type="checkbox" ng-model="selectedItem.delete"
                                                   ng-change="selectedManServ(selectedItem)"/>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selectedManServ(selectedItem)"
                                                       ng-model="selectedItem.name">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selectedManServ(selectedItem)"
                                                       ng-model="selectedItem.function_name">
                                            </div>
                                        </td>
                                        <td class="isBreakable">
                                            <a href="{{selectedItem.url}}">{{selectedItem.url}}</a>
                                        </td>
                                        <td>
                                            <select class="edit-service-form-control"
                                                    ng-model="selectedItem.type"
                                                    ng-options="reqTyp for reqTyp in reqTypes"
                                                    ng-change="selectedManServ(selectedItem)"></select>
                                            <button type="button" class="post-btn btn btn-info"
                                                    ng-click="addReqBody(selectedItem)"
                                                    ng-if="selectedItem.type === 'POST'" data-toggle="modal"
                                                    data-target="#reqBody">Body</button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selectedManServ(selectedItem)"
                                                       ng-model="selectedItem.response_type">
                                            </div>
                                        </td>
                                            <td>
                                                 <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selectedManServ(selectedItem)"
                                                       ng-model="selectedItem.time_out">
                                            </div>
                                            </td>
                                            <td><button class="btn btn-primary" ng-click="saveSingleServ(selectedItem)">Save</button></td>
                                        </tr>
                            </tbody>
                        </table>
                        <div ng-show="!selectedItem" class="ng-hide">
                            <h3>Browse Services</h3>
                        <hr class="testServHr">
                            <button class="btn btn-info" ng-click="saveChanges()"><i class="fa fa-floppy-o"
                                                                                     aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Save
                            Changes
                        </button>
                        <div id="list-wrapper">
                            <div class="list" infinite-scroll='WebServices.nextPage()'
                                 infinite-scroll-distance='2'
                                 infinite-scroll-container="'#list-wrapper'" infinite-scroll-listen-for-event='refresh'>
                                <div class="list-table">
                                    <table id="editServicesTable"
                                           class="animated fadeIn table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr class="info">
                                            <th>Delete</th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'name'; sortServiceReverse = !sortServiceReverse">Name
                    <span ng-show="sortServiceType == 'name' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'name' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'function'; sortServiceReverse = !sortServiceReverse">Function
                    <span ng-show="sortServiceType == 'function' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'function' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'url'; sortServiceReverse = !sortServiceReverse">URL
                    <span ng-show="sortServiceType == 'url' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'url' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'requestType'; sortServiceReverse = !sortServiceReverse">Request
                                                Type
                    <span ng-show="sortServiceType == 'requestType' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'requestType' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th><a href=""
                                                   ng-click="sortServiceType = 'responseType'; sortServiceReverse = !sortServiceReverse">Response
                                                Type
                    <span ng-show="sortServiceType == 'responseType' && !sortServiceReverse"
                          class="fa fa-caret-down"></span>
                    <span ng-show="sortServiceType == 'responseType' && sortServiceReverse"
                          class="fa fa-caret-up"></span></a></th>
                                            <th>Timeout (ms)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="service in WebServices.items | orderBy:sortServiceType:sortServiceReverse | filter: searchService">
                                        <td>
                                            <input class="form-control" type="checkbox" ng-model="service.delete"
                                                   ng-change="delete(service)"/>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selected(service)" ng-model="service.name">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selected(service)" ng-model="service.function_name">
                                            </div>
                                        </td>
                                        <td class="isBreakable">
                                            <a href="{{service.url}}">{{service.url}}</a>
                                        </td>
                                        <td>
                                            <select class="edit-service-form-control"
                                                    ng-model="service.type"
                                                    ng-options="reqTyp for reqTyp in reqTypes"
                                                    ng-change="selected(service)"></select>
                                            <button type="button" ng-click="addReqBodyBrowsed(service)"
                                                    class="post-btn btn btn-info" ng-if="service.type === 'POST'"
                                                    data-toggle="modal" data-target="#reqBody">Body</button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selected(service)" ng-model="service.response_type">
                                            </div>
                                        </td>
                                              <td>
                                            <div class="form-group">
                                                <input type="text" class="edit-service-form-control"
                                                       ng-change="selected(service)" ng-model="service.time_out">
                                            </div>
                                        </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show='WebServices.busy' class="ng-hide">
                                    <div id="block_1" class="barlittle"></div>
                                    <div id="block_2" class="barlittle"></div>
                                    <div id="block_3" class="barlittle"></div>
                                    <div id="block_4" class="barlittle"></div>
                                    <div id="block_5" class="barlittle"></div>
                                </div>
                                <!--<div style='clear: both;'></div>-->
                            </div>
                        </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="reqBody" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit POST Request Body for {{serviceToAddReqBody.name}}</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" ng-click="addRequestBodyInput()"><i class="fa fa-plus"
                                                                                    aria-hidden="true"></i></button>
                <span>{{saveReqBodyMsg}}</span>
                <table class="table table-responsive" ng-if="reqBodyInputs.length > 0">
                    <tr class="info">
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr ng-repeat="reqBodyInput in reqBodyInputs">
                        <td>
                            <div class="form-group">
                                <input type="text" class="edit-service-form-control"
                                       ng-model="reqBodyInput.key">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="edit-service-form-control"
                                       ng-model="reqBodyInput.value">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteReqBodyInput(reqBodyInput)"><i
                                    class="fa fa-minus" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="initReqBodyInputs()" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" ng-click="saveReqBody()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="servicesAdded" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Services successfully added</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive" ng-if="servicesAdded.length > 0">
                    <tr class="success">
                        <th>Name</th>
                        <th>Function</th>
                        <th>URL</th>
                        <th>Request Type</th>
                        <th>Response Type</th>
                        <th>Timeout (ms)</th>
                    </tr>
                    <tr ng-repeat="service in servicesAdded">
                        <td>
                            {{service.name}}
                        </td>
                        <td>
                            {{service.function_name}}
                        </td>
                        <td class="isBreakable">
                            {{service.url}}
                        </td>
                        <td>
                            {{service.type}}
                        </td>
                        <td>
                            {{service.response_type}}
                        </td>
                        <td>
                            {{service.time_out}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="servicesUpdated" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Services successfully updated</h4>
            </div>
            <div class="modal-body">
                <table class="table table-responsive" ng-if="servicesUpdated.length > 0">
                    <tr class="success">
                        <th>Name</th>
                        <th>Function</th>
                        <th>URL</th>
                        <th>Request Type</th>
                        <th>Response Type</th>
                        <th>Timeout (ms)</th>
                    </tr>
                    <tr ng-repeat="service in servicesUpdated">
                        <td>
                            {{service.name}}
                        </td>
                        <td>
                            {{service.function_name}}
                        </td>
                        <td class="isBreakable">
                            {{service.url}}
                        </td>
                        <td>
                            {{service.type}}
                        </td>
                        <td>
                            {{service.response_type}}
                        </td>
                        <td>
                            {{service.time_out}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>