<div id="mainTechManualDiv" class="animated fadIn row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h1>Technical Manual</h1><br/>
            <div class="list-group" ng-click="click()">
                <p class="text-primary">
                    Welcome to the RASTA Technical Manual
                </p>
                <button ng-init="show=1" ng-click="show=1" type="button"
                class="list-group-item list-group-item-action active">
                    Overview
                </button>
            </div>
        </div>
    </div>
</div>