<div ng-show="validUser" id="mainTestDiv" class="ng-hide animated fadeIn">
    <div class="row col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Test
                    Functions
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 row">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete
                                ng-disabled="isDisabled"
                                md-no-cache="noCache"
                                md-selected-item="selectedItem"
                                md-search-text="searchText"
                                md-items="func in querySearch(searchText)"
                                md-item-text="func.funcName"
                                md-min-length="0"
                                placeholder="Search for function">
                            <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{func.funcName}}</span>
                                <button class="btn btn-primary pull-right" ng-mousedown="testFunction(func)">Test
                                </button>
                            </md-item-template>
                        </md-autocomplete>
                        <br/>
                    </form>
                    <h3>Browse Functions</h3>
                    <hr class="testFuncHr">
                    <div class="viewport list-group" ui-scroll-viewport>
                        <div ui-scroll="function in getFunctions" class="list-group-item">
                            <div>
                                <h4 class="list-group-item-heading">{{function.funcName}}</h4>
                                <button ng-click="testFunction(function)" class="pull-right btn btn-primary btn-sm">
                                    Test
                                </button>
                            </div>
                            <p class="list-group-item-text">{{function.serviceNames}}</p>
                        </div>
                    </div>
                </div>
                <div ng-show="functionTestResLoading" class="row col-md-12 animated fadeIn ng-hide">
                    <img id="nasaGif" src="../../img/nasa100.gif"/>
                </div>
                <div ng-show="showFunctionTestRes" class="row col-md-12 animated fadeIn ng-hide">
                    <hr class="testFuncHr">
                    <h1 style="word-wrap: break-word"><span id="funcTestResIcon"><i
                            class="fa fa-check-circle-o"
                            aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;{{funcTestedName}}
                        Test
                        Results</h1>
                    <span class="label label-default">Test Date: {{functionTestDate}}</span>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="info">
                            <th>Service</th>
                            <th>URL</th>
                            <th>Status Code</th>
                            <th>Response Time</th>
                            <th>Expected Resp Type</th>
                            <th>Received Resp Type</th>
                            <th>Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="funcTestResult in functionTestResults">
                            <td class="isBreakable">{{funcTestResult.serviceName}}</td>
                            <td class="isBreakable">{{funcTestResult.urlTested}}</td>
                            <td>{{funcTestResult.statusCode}}</td>
                            <td>{{funcTestResult.rspTime}}</td>
                            <td>{{funcTestResult.expectedType}}</td>
                            <td>{{funcTestResult.receivedType}}</td>
                            <td>{{funcTestResult.result}}</td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
