<div ng-show="validUser" id="mainTestDiv" class="ng-hide animated fadeIn">
    <div class="row col-md-10 col-md-offset-1">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-hourglass-start" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Overall Test
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <button style="width:100%;" ng-click="testAllServices()" class="btn btn-info"><i
                                class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Test All
                            Services
                        </button>
                    </div>
                    <div ng-show="allServiceTestResLoading" class="col-md-10 animated fadeIn ng-hide">
                        <div class="progress progress-striped active">
                            <span class="progress-value"> <strong style="color:whitesmoke;">Testing service # {{testNo}} out of {{testTotal}}.</strong></span>
                            <div id="overallTestProgress" class="progress-bar progress-bar-success"></div>
                        </div>
                        <span style="color:whitesmoke;"><strong>{{urlTested}}</strong></span>
                    </div>
                </div>
                <div style="margin-top:2%" ng-show="showAllServiceTestSuccesses"
                     class="row ng-hide animated fadeIn">
                    <uib-tabset class="col-md-12" active="overallTestResActiveTabInd">
                        <hr class="hrWarning">
                        <uib-tab index="0" heading="Successes ({{testAllServicesSuccesses.length}})">
                            <div ng-show="showAllServiceTestSuccesses"
                                 class="pre-scrollable animated fadeIn ng-hide">
                                <h3>Successes</h3>
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Service</th>
                                        <th>URL</th>
                                        <th>Status Code</th>
                                        <th>Response Time</th>
                                        <th>Expected Resp Type</th>
                                        <th>Received Resp Type</th>
                                        <th>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="testAllServResult in testAllServicesSuccesses">
                                        <td class="isBreakable">{{testAllServResult.serviceName}}</td>
                                        <td class="isBreakable"><a href="{{testAllServResult.urlTested}}">{{testAllServResult.urlTested}}</a></td>
                                        <td>{{testAllServResult.statusCode}}</td>
                                        <td>{{testAllServResult.rspTime}}</td>
                                        <td>{{testAllServResult.expectedType}}</td>
                                        <td>{{testAllServResult.receivedType}}</td>
                                        <td>{{testAllServResult.result}}</td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Failures ({{testAllServicesFailures.length}})">
                            <div ng-show="showAllServiceTestFailures"
                                 class="pre-scrollable animated fadeIn ng-hide">
                                <h3>Failures</h3>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Service</th>
                                        <th>URL</th>
                                        <th>Status Code</th>
                                        <th>Response Time</th>
                                        <th>Expected Resp Type</th>
                                        <th>Received Resp Type</th>
                                        <th>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="testAllServResult in testAllServicesFailures">
                                        <td class="isBreakable">{{testAllServResult.serviceName}}</td>
                                        <td class="isBreakable"><a href="{{testAllServResult.urlTested}}">{{testAllServResult.urlTested}}</a></td>
                                        <td>{{testAllServResult.statusCode}}</td>
                                        <td>{{testAllServResult.rspTime}}</td>
                                        <td>{{testAllServResult.expectedType}}</td>
                                        <td>{{testAllServResult.receivedType}}</td>
                                        <td>{{testAllServResult.result}}</td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
