<div ng-show="validUser" id="topTicketDiv" class="ng-hide row animated fadeIn">
    <div ng-show="areTickets" class="ng-hide col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Tickets
                </h3>
            </div>
            <div class="panel-body">
                <div ng-show="ticketsLoading" class="ng-hide">
                    <img id="nasaGif" src="../../img/nasa100.gif"/>
                </div>
                <div ng-show="ticketsLoading === false" class="ng-hide">
                    <div class="well" ng-repeat="ticket in tickets">
                        <div class="row">
                            <div class="col-sm-11"><h5>Date Opened: {{ticket.dateOpened}}</h5></div>
                            <div class="col-sm-1">
                                <button id="resBtn" class="btn btn-primary btn-sm" ng-click="resolveTicket(ticket.id)">Resolve</button>
                            </div>
                        </div>
                        <h6>Issues</h6>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="danger">
                                <th>Service</th>
                                <th>URL</th>
                                <th>Status Code</th>
                                <th>Response Time</th>
                                <th>Response Type</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="issue in ticket.issues">
                                <td>
                                    {{issue.service_name}}
                                </td>
                                <td>
                                    {{issue.service_id.url}}
                                </td>
                                <td>
                                    {{issue.status_code}}
                                </td>
                                <td>
                                    {{issue.response_time}} ms
                                </td>
                                <td>
                                    {{issue.service_id.response_type}}
                                </td>
                                <td>
                                    {{issue.test_result}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="areTickets === false" class="ng-hide col-md-4 col-md-offset-2 animated fadeIn">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>There are no open tickets.</strong>
        </div>
    </div>
</div>
<!--<div class="row animated fadeIn">-->
<!--<div class="col-md-8 col-md-offset-2">-->
<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading">-->
<!--<h3 class="panel-title"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Open Tickets-->
<!--</h3>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->