<div id="mainAboutDiv" class="animated fadeIn row">
    <div class="col-md-10 col-md-offset-1">
        <div ng-show="showResults"
             class="row ng-hide animated fadeIn">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Service Availability as of {{dateAvail}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12 animated fadeIn">
                        <h4>< 100% Available ({{servicesUnavail.length}})</h4>
                        <md-list class="table-fixed-width">
                            <md-list-item flex>
                                <md-subheader class="bad" layout="row" layout-align="center center" flex="20"><strong class="i">Test
                                    Date</strong></md-subheader>
                                <md-subheader class="bad" layout="row" layout-align="center center" flex="50"><strong>Service</strong>
                                </md-subheader>
                                <md-subheader class="bad" layout="row" layout-align="center center" flex="10"><strong>Status Code</strong>
                                </md-subheader>
                                <md-subheader class="bad" layout="row" layout-align="center center" flex="10"><strong>Response Time</strong>
                                </md-subheader>
                                <md-subheader class="bad" layout="row" layout-align="center center" flex="10"><strong>Result</strong>
                                </md-subheader>
                            </md-list-item>
                            <md-virtual-repeat-container style="height:400px">
                                <md-list-item md-virtual-repeat="testAllServResult in servicesUnav" md-on-demand>
                                    <md-list-item layout="row" layout-align="center center" flex="20">
                                        {{testAllServResult.test_date}}
                                    </md-list-item>
                                    <md-list-item layout="row" class="isBreakable" layout-align="center center" flex="50">
                                        {{testAllServResult.service_name}}
                                    </md-list-item>
                                    <md-list-item layout="row" layout-align="center center" flex="10">
                                        {{testAllServResult.status_code}}
                                    </md-list-item>
                                    <md-list-item layout="row" layout-align="center center" flex="10">
                                        {{testAllServResult.response_time}} ms
                                    </md-list-item>
                                    <md-list-item ng-if="!testAllServResult.receivedResponse" layout="row" layout-align="center center" flex="10">
                                        {{testAllServResult.test_result}}
                                    </md-list-item>
                                    <md-list-item ng-if="testAllServResult.receivedResponse" layout="row" layout-align="center center" flex="10">
                                        <button class="btn btn-primary" ng-click="loadServiceResult(testAllServResult)" data-toggle="modal" data-target="#resultBody">Details</button>
                                    </md-list-item>
                                </md-list-item>
                                <md-divider flex></md-divider>
                            </md-virtual-repeat-container>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="resultBody" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{serviceResult.service_name}} Result Details</h4>
            </div>
            <div class="modal-body">
                <div class="row col-md-12 well">><h6>Result:</h6> {{serviceResult.test_result}}</div>
                <div class="row col-md-12 well"><h6>Response Content</h6><pre>{{serviceResult.receivedResponse}}</pre></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>