<div ng-show="validUser" class="ng-hide">
    <div id="topUploadRow" class="animated fadeInRight row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-upload" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Upload service config file</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group has-info">
                        <div class="input-group">
                            <span class="input-group-addon">.JSON</span>
                            <input type="file" class="form-control" file-model="myFile">
    <span class="input-group-btn">
      <button ng-click="uploadFile()" class="btn btn-default" type="button">Upload</button>
    </span>
                        </div>
                    </div>
                    <p ng-style="statusStyle" ng-show="uploadAttempt" ng-bind="uploadStatus" ng-class="statusColor" class="ng-hide"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="animated fadeInRightBig" ng-show="jsonUploaded" class="ng-hide" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;JSON
                        uploaded</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group has-success">
                        <div class="input-group">
                            <code ng-bind="jsonRsp"></code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>