#servAvailStatDiv {
    height: 100%;
}

#servAvailTip {
    margin-top: 3%;
}

#bodyCont {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar-items-div li a {
    color: white;
}

ul.navigationBar a.topAnchor:hover {
    color: #2a9fd6 !important;
}

div.navbar-header a.navbar-brand:hover {
    color: #2a9fd6 !important;
}

#userWelcomeNavBar a:hover {
    color: #2a9fd6 !important;
}

#mainChartDiv, #topUploadRow, #mainTestDiv, #mainAboutDiv, #topLoginDiv, #topTicketDiv, #mainEmailDiv, #mainUserDiv, #mainUserGuideDiv {
    margin-top: 5%;
}

#nasaGif {
    display: block;
    margin: 0 auto;
}

#shuttle {
    height: 300px;
}

.image {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%; /* for IE 6 */
}

#updateText {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 100%;
}

#updateText span {
    font-size: 30px;
    border-radius: 8px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#updateText span.spacer {
    padding: 0 5px;
}

.ui-tab {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.searchBoxCont {
    margin-top: 2%;
    margin-bottom: 2%;
}

#resBtn {
    width: 100%;
}

html, body {
    position: relative;
    overflow: auto;
    margin: 0 auto !important;
}

pre {
    white-space: pre-wrap;
}

td.serviceUrl {
    word-wrap: break-word;
}

input {
    color: black;
}

table.servicesTable {
    table-layout: fixed;
}

.isBreakable {
    word-break: break-all;
}

#saveChngBtn {
    margin-bottom: 10px;
}

#buttonOnSBDiv {
    margin-bottom: 10px;
}

.sideUpdateDiv {
    display: inline-flex;
    margin: 10px;
}

.sideUploadDiv {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#statusMsgUpload {
    margin-bottom: 10px;
}

.progress {
    text-align: center;
}

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
}

.not-visible {
    visibility: hidden;
}

.parent {
    display: flex;
    height: 70vh; /*buggy*/
}

.child {
    overflow: auto;
}

.edit-service-form-control {
    display: block;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #282828;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#list-wrapper {
    max-height: 500px;
    overflow-y: scroll;

    margin-top: 20px;
    border: solid 1px black;
}

.viewport {
    height: 500px;
    overflow: auto;
}

.under-div {
    margin-top:50px;
}

hr.testFuncHr {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, rgba(42, 159, 214, .50), rgba(42, 159, 214, 1), rgba(42, 159, 214, 0.50));
}

hr.testServHr {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, rgba(110, 44, 175, 0.50), rgba(110, 44, 175, 1), rgba(110, 44, 175, 0.50));
}

hr.hrWarning {
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, rgba(240, 88, 0, 0.50), rgba(240, 88, 0, 1), rgba(240, 88, 0, 0.50));
}