#servAvailStatDiv {
    height: 100%;
}

#servAvailTip {
    margin-top:3%;
}

#nasaLogo {
    height: 100%;
}

#bodyCont {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar-items-div li a {
    color: white;
}

ul.nav a:hover { color: #2a9fd6 !important; }

#mainChartDiv, #topUploadRow,#mainTestDiv, #mainAboutDiv, #topLoginDiv {
    margin-top:5%;
}

#nasaGif {
    display: block;
    margin: 0 auto;
}

#shuttle {
    height:300px;
}

.image {
    margin-top:auto;
    margin-bottom:auto;
    position: relative;
    width: 100%; /* for IE 6 */
}

#updateText {
    position: absolute;
    top: 170px;
    left:10px;
    width: 100%;
}

#updateText span {
    font-size: 30px;
    border-radius:8px;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#updateText span.spacer {
    padding:0 5px;
}

.ui-tab {
    margin-top:2.5%;
    margin-bottom:2.5%;
}

.searchBoxCont {
    margin-top:2%;
    margin-bottom:2%;
}
