.lists{
    font-size:150%;
}

.guide {
    display: block;
    max-width: 70%;
    margin: auto;
    height: auto;
    width: auto\9; /* ie8 */
    /*border: 1px double white;*/
}

.guide:hover{
    -webkit-transform: scale(1.5,1.5);
}


.title{
    font-size:200% !important;
}